<h1 class="heading1 mb-5">Chat Rooms</h1>

<div id="messages">
  <div class="relative border-gray-200 dark:border-gray-700">
    <% @messages.each do |message| %>
      <%= render 'rooms/messages/message', message: message %>
    <% end %>
  </div>
</div>


<form>
  <label>Say something:</label></br>
  <input type="text" data-behavior="room_speaker" class="form-text-input">
</form>
