<div class="mb-10 message">
  <div class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:bg-gray-700 dark:border-gray-600">
    <time class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"><%= time_ago_in_words(message.created_at) %></time>
    <div class="text-sm font-normal text-gray-500 dark:text-gray-300">
      <%= message.content %>
    </div>
  </div>
</div>
