<%= turbo_frame_tag :form %>

<p style="color: green"><%= notice %></p>

<div class="flex items-center mb-5">
  <div class="flex-auto">
    <h1 class="heading1">Posts</h1>
  </div>

  <div class="flex-initial">
    <%= link_to "New post", new_post_path, class: "btn-primary", data: { turbo_frame: :form }, aria_controls: "new-post" %>
  </div>
</div>

<div class="table">
  <div class="table-header-group">
    <div class="table-row">
      <div class="table-cell text-left">Title</div>
      <div class="table-cell text-left">Body</div>
      <div class="table-cell text-left">Published At</div>
      <div class="table-cell text-left">Operation</div>
    </div>
  </div>
  <div class="table-row-group" id="posts">
    <%= render @posts %>
  </div>
</div>

