@tailwind base;
@tailwind components;
@tailwind utilities;

/* @see https://flowbite.com/docs */
@layer components {
  .heading1 {
    @apply text-5xl font-extrabold dark:text-white
  }

  .btn-primary {
    @apply text-blue-700 border-blue-700
      hover:text-white hover:bg-blue-800
      border dark:border-blue-500
      focus:ring-4 focus:outline-none focus:ring-blue-300
      font-medium rounded-lg text-sm text-center
      px-5 py-2.5 mr-2 mb-2
      dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800
      cursor-pointer
  }

  .btn-red {
    @apply text-red-700 hover:text-white
      border border-red-700 hover:bg-red-800
      focus:ring-4 focus:outline-none focus:ring-red-300
      font-medium rounded-lg text-sm
      px-5 py-2.5 text-center mr-2 mb-2
      dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600
  }

  .form-label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
  }

  .form-text-input {
    @apply bg-gray-50 border border-gray-300
      text-gray-900 text-sm
      rounded-lg focus:ring-blue-500 focus:border-blue-500
      block w-full p-2.5
      dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
      dark:focus:ring-blue-500 dark:focus:border-blue-500
  }

  .form-textarea-input {
    @apply p-2.5 w-full text-sm text-gray-900 bg-gray-50
      rounded-lg border border-gray-300
      focus:ring-blue-500 focus:border-blue-500
      dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
      dark:focus:ring-blue-500 dark:focus:border-blue-500
  }

  .form-select-input {
    @apply bg-gray-50 border border-gray-300
      text-gray-900 text-sm rounded-lg
      focus:ring-blue-500 focus:border-blue-500
      block w-full p-2.5
      dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
      dark:focus:ring-blue-500 dark:focus:border-blue-500
  }

  .text-link {
    @apply font-medium text-blue-600 dark:text-blue-500 hover:underline
  }

  .table {
    @apply w-full text-sm text-left text-gray-500 dark:text-gray-400
  }

  .table-header-group {
    @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400
  }

  .table-row-group {
    @apply bg-white border-b dark:bg-gray-900 dark:border-gray-700
  }

  .table-cell {
    @apply py-4 px-6
  }

  .description {
    @apply max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700
  }

  .description-row {
    @apply flex flex-col py-3
  }

  .description-title {
    @apply mb-1 text-gray-500 md:text-lg dark:text-gray-400
  }

  .description-body {
    @apply text-lg font-semibold
  }
}
